.main-nav__wrapper {

}

.main-nav {
  border-top: 2px solid #5a5a5a;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style: none;
}

.main-nav__item {

}

.main-nav__link {
  display: block;

  padding: 28px 34px;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #ffffff;
}

.main-nav__item--active {

}

