.main-nav {
  background-color: #61234e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-nav__list {
  display: flex;

  width: 1093px;
  padding: 0;

  list-style: none;

  margin: 0 auto;
}

.main-nav__item a {
  display: block;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 16px;
  padding-bottom: 16px;

  margin-left: 50px;

  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  color: #e5e5e5;
}

.main-nav__item {
  &:first-child a {
    margin-left: 0;
  }
}

.main-nav__item--active {
  position: relative;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    height: 10px;
    background-color: #f7ca44;
  }
}
