.main-banner {

}

.main-banner__banner {
  background-image: url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;


  height: 540px;

  overflow: auto;
}

.main-banner__buttons-next-prev {
  display: flex;
  justify-content: space-between;

  width: 128px;
  height: 52px;

  margin-top: 363px;
  margin-left: 203px;
}

.main-banner__button-prev {
  width: 54px;
  height: 52px;

  cursor: pointer;

  border: 0;
  background-color: transparent;
}

.main-banner__button-prev-img {
  max-width: 100%;
  height: auto;
}

.main-banner__button-next {
  width: 54px;
  height: 52px;

  cursor: pointer;

  border: 0;
  background-color: transparent;
}

.main-banner__button-next-img {
  max-width: 100%;
  height: auto;
}

.main-banner__buttons {
  display: flex;
  justify-content: space-between;

  width: 64px;
  height: 8px;

  margin: 0 auto;
  margin-top: 48px;
}

.main-banner__button1 {
  //display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: 0;

  cursor: pointer;
}

.main-banner__button2 {
  //display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: 0;

  cursor: pointer;
}

.main-banner__button3 {
  //display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: 0;

  cursor: pointer;
}
