
.page-header {
  margin-bottom: -10px;
  padding-bottom: -10px;
}

.page-header__top {
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  width: 1416px;
  margin: 0 auto;

  background-color: #951555;

  position: relative;

}

.page-header__logo-link {
  //position: absolute;
  //left: 252px;

  padding-top: 3px;

}

.page-header__logo-img {
  width: 83px;
  height: 71px;
}

.page-header__address {
  padding: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 23px;

  margin-left: 576px;

  white-space: pre-wrap;

  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #e5e5e5;
}

.page-header__order {
  position: relative;

  padding: 0;
  margin: 0;

  padding-top: 14px;
  padding-bottom: 17px;

  margin-left: 172px;

  color: #e5e5e5;

  &::before {
    content: "";
    position: absolute;
    right: 124px;
    top: 22px;

    width: 36px;
    height: 36px;
    background-image: url(../img/call-button.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.page-header__phone {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  display: block;
  padding: 0;
  margin: 0;
}

.page-header__order-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  display: block;
  padding: 0;
  margin: 0;
  margin-top: -28px;
}

