.scroller {
  position: fixed;

  display: flex;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  border: 1.5px solid #ff5c00;


  bottom: 200px;
  right: 50px;

  transition: 0.3s ease all;

  &::before {
    content: "";
    position: absolute;

    width: 18px;
    height: 60px;

    background-image: url("../img/scroller.svg");
    background-repeat: no-repeat;

    left: calc(50% - 9px);
    top: 20px;

  }

  &:hover {
    background-color: #ff5c00;
    transition: 0.3s ease all;
  }
}
