/* poppins-regular*/
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
  url("../fonts/Poppins-Regular.woff") format("woff");
}
/* poppins-500*/
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
  url("../fonts/Poppins-Medium.woff") format("woff");
}
/* poppins-600*/
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"),
  url("../fonts/Poppins-SemiBold.woff") format("woff");
}
/* poppins-700*/
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
  url("../fonts/Poppins-Bold.woff") format("woff");
}
/* open-sans-regular*/
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}
/* open-sans-600*/
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}
/* open-sans-700*/
@font-face {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/open-sans-v18-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/open-sans-v18-latin_cyrillic-700.woff") format("woff");
}
/* Philosopher-regular*/
@font-face {
  font-family: "Philosopher", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/philosopher-v14-latin_cyrillic-regular.woff2") format("woff2"),
  url("../fonts/philosopher-v14-latin_cyrillic-regular.woff") format("woff");
}
/* Philosopher-700*/
@font-face {
  font-family: "Philosopher", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/philosopher-v14-latin_cyrillic-700.woff2") format("woff2"),
  url("../fonts/philosopher-v14-latin_cyrillic-700.woff") format("woff");
}
